# Canonicalise all commit identities to a single author.
urme-b <urme-b@users.noreply.github.com>
urme-b <urme-b@users.noreply.github.com> <148221893+urme-b@users.noreply.github.com>
urme-b <urme-b@users.noreply.github.com> Urme <148221893+urme-b@users.noreply.github.com>
urme-b <urme-b@users.noreply.github.com> Urme <urme-b@users.noreply.github.com>
